body{
  margin: 0px
  padding:0px;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

h1{
  font-family: 'Roboto', sans-serif; 
  font-size: 3em;
}

p{
  font-size: 18px;
}
.header{
    background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1));
    width: 100%;
    position: absolute;
    z-index: 1;
}
.navbar{
   color: #fff;
}
.navbar-nav li{
  font-size:16px;
  font-weight: bold;
  padding: 0px 5px;
}

.navbar-nav li a{
  text-decoration: none;
  color: #fff !important;
  font-size: 18px;
  font-weight: bold;
}
.navbar-nav li a:hover{
  text-decoration: none;
  color: #e6e6e6;
}

.navbar-nav  li.active a{
  color: #e6e6e6 !important;
}
.navbar-light .navbar-toggler{
  background-color: #fff !important;
}


/**********************HOME SECTION CSS****************************/
#home{
    text-align: center;
    color: #fff;
}
.animation-area{
  background: linear-gradient(rgba(2, 2, 2, 0.1), rgba(0, 0, 0, 0.2)), url(img/banner-img/banner-imag5.jpg) center top no-repeat fixed;
  width: 100%;
  height: 100vh;
}

.box-area{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-area li{
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,0.3);
  animation: animation 20s linear infinite;
  bottom: -150px;
}
.box-area li:nth-child(1){
  left: 86%;
  width: 80px;
  height:80px;
  animation-delay: 0s;
}
.box-area li:nth-child(2){
  left: 12%;
  width: 30px;
  height:30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box-area li:nth-child(3){
  left: 70%;
  width: 100px;
  height:100px;
  animation-delay: 5.5s;
}
.box-area li:nth-child(4){
  left: 42%;
  width: 150px;
  height:150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.box-area li:nth-child(5){
  left: 65%;
  width: 40px;
  height:40px;
  animation-delay: 0s;
}
.box-area li:nth-child(6){
  left: 15%;
  width: 110px;
  height:110px;
  animation-delay: 3.5s;
}
@keyframes animation{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }

}
.content{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}
.content h1{
  font-family: 'Courgette', cursive;
  font-family: 'Courgette', cursive;
    padding-bottom: 25px;
    font-size: 3.5em;
    text-shadow: 3px 8px 7px #000;
}
.content p{
  font-family: 'Courgette', cursive;
  font-size: 1.5em;
  padding-bottom: 25px;
}
.content .btn{
  padding: 10px 25px;
    color: white;
    border-color: #fff;
    font-family: 'Courgette', cursive;
    
}
.content .btn:hover{
  background-color: #861647;
}
@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
    padding: 10px;
  }
  .content h1{
    font-size: 3em;
  }
  .content p{
    font-size: 1.5em;
  }

}

/**********************ABOUT US SECTION****************************/
#about {
  padding: 5% 0px;
}

#about h1{
  font-weight: bold;
    padding-bottom: 5%;
    font-style: italic;
    text-align: center;
    color: #c52068;
}
#about .about-title{
    text-align: center;
    color: #b3b3b3;
}

/*first pencil*/ 
.pencil1, .pencil2, .pencil3, .pencil4{
  background:#ffc334;
  border-top: 10px solid #ffc268;
  border-bottom: 10px solid #ffc268;
}

.pencil1 p, .pencil2 p, .pencil3 p, .pencil4 p{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #d89200;
}
.pencil1::after, .pencil2::after, .pencil3::after, .pencil4::after {
  content: "";
  position: absolute;
  left: 95%;
  right: 0px;
  top: 0;
  border-style: solid;
  border-color: transparent  transparent  transparent #e29663;
  border-width: 27px 44px 38px; 
}
.pencil1::before, .pencil2::before, .pencil3::before, .pencil4::before{
  content: "";
  position: absolute;
  left: 95%;
  right: 0px;
  top: 0;
  border-style: solid;
  border-color: transparent  transparent  transparent #262626;
  border-width: 20px 44px 38px;
  transform: scale(.3); 
  z-index: 1;
}


/*second pencil*/
.pencil2{
  background:#01858a;
  border-top: 10px solid #019398;
  border-bottom: 10px solid #019398;
}

.pencil2 p{
  color: #01acb2;
}
.pencil2::after{
  left: 95%;
  top: 112px; 
}

.pencil2::before{
  left: 95%;
  top: 112px;
}


/*Third pencil*/
.pencil3{
  background: #194d33;
  border-top: 10px solid #206040;
    border-bottom: 10px solid #206040;
}
.pencil3 p{
  color:#339966;
}
.pencil3::after{
  top: 224px; 
}

.pencil3::before{
  top: 224px;
}

/*forth pencil*/
.pencil4{
  background: #b3b300 ;
    border-top: 10px solid #cccc00 ;
    border-bottom: 10px solid #cccc00;
}

.pencil4 p{
  color: #999900;
}
.pencil4::after{
  top: 335px;
}

.pencil4::before{
  top: 335px;
}


@media only screen and (max-width: 768px){
  .pencil1, .pencil2, .pencil3, .pencil4{
    width: 300px;
  }
  .pencil1::after, .pencil2::after, .pencil3::after, .pencil4::after{
    display: none;
  }
  .pencil1::before, .pencil2::before, .pencil3::before, .pencil4::before{
    display: none;
  } 
}
@media only screen and (min-width: 992px){
  .pencil1, .pencil2, .pencil3, .pencil4 {
    width: 441px;
  }
}
@media only screen and (min-width: 1200px){
  .pencil1, .pencil2, .pencil3, .pencil4 {
    width: 526px;
  }
} 

/********************gallary section css****************************/
#gallary{
  padding: 5% 0px;
  background-color: #000;
} 
#gallary h1{
    font-weight: bold;
    padding-bottom: 10px;
    font-style: italic;
    text-align: center;
    color: #c52068;
} 
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background-color: #000;
}


/**********************SERVICE SECTION CSS****************************/
#service{
  padding: 5% 0;
  /*background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)), url(img/photo1.jpg) center top no-repeat fixed;*/
  width: 100%;
}
#service h1{
  font-weight: bold;
    padding-bottom: 10px;
    font-style: italic;
    text-align: center;
    color: #c52068;
}
#service .service-title{
    text-align: center;
    color: #b3b3b3;
}

#service .card{
  box-shadow: 15px 25px 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #e54c85;
}

#service .service-info{
  padding-right: 5px;
}
#service .card-body h4{
  color: #fff; 
  font-weight: bold;
  font-family: 'Courgette', cursive;
  padding-bottom: 10px;
}

#service .card-body span{
  color:#e6e6e6;
  font-size: 22px;
  font-family: 'Courgette', cursive;
  letter-spacing: 3px;
}
#service .card-body p{
  color:#e6e6e6;
  font-size: 12px;
}
#service .card-body .btn{
  color: #fff;
    border-color: #fff;
    padding: 2px 10px;
}
#service .card-body .card-image1{
  width: 50%;
}
#service .card-footer{
  border-top: 0;
}
#service .card-footer i{
  padding: 0px 15px;
}

.second-card{
  background-color: #b300b3 !important;
}
.third-card{
  background: #2b5a84 !important; 
}
.forth-card{
  background-color: #1bb1e4 !important;
}


/**********************TEAM SECTION****************************/
#team{
  padding: 5% 0px;
  background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.6)), url(img/team/photo_1.jpg) center top no-repeat;
  width: 100%;
  text-align: center;
}
#team h1{
  font-weight: bold;
    padding-bottom: 10px;
    font-style: italic;
    text-align: center;
    color: #c52068;
}
#team .team-title{
    text-align: center;
    color: #b3b3b3;
}
.team-1, .team-2, .team-3, .team-4{
    border: 2px solid #999999;
    border-radius: 50%;
    width: 70%;
    padding: 5px;
    background-color: #999999;
    box-shadow: 5px 10px 10px rgba(255,255,255,0.2);
    margin-bottom: 18px;
}

#team .team-info h4{
  font-weight: bold;
    font-style: italic;
    color: #ed91b9;
}
#team .team-info p{
  color: #f1f1f1;
  font-size: 16px;
}

@media only screen and (max-width: 768px){
  #team{
    text-align: center;
  }
  .team-1, .team-2{
    width: 50% !important;
  }
}

/**********************CONTACT US SECTION CSS****************************/ 
#contact{
  padding: 5% 0px;
}
#contact h1{
  color: #fcb72e;
  font-size: 2.5em;
}

#contact .cont-icon{
  text-align: center;
  padding-top: 5%;
}

#contact .cont-icon i{
  font-size: 25px;
  padding: 10px;
  color:#fcb72e;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ffc451;
  color: white;
  padding: 10px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  border: 1px solid #ffc451;
  background-color: #fff;
  color:#ffc451 
}
form{
   padding: 20px;
   text-align: center;
}

/**********************FOTTER SECTION CSS****************************/

.cont-icons{
  border: 1px solid gray;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    padding: 8px;
}
.cont-icons:hover{
  background-color: #00cc66;
  border: 1px solid #00cc66;

}