body{
	margin: 0px
	padding:0px;
	font-family: "Times New Roman", Times, serif;
	box-sizing: border-box;
}

h1{
	font-family: 'Roboto', sans-serif;
	color: #fff; 
	font-size: 3em;
}

p{
	font-size: 18px;
}
.navbar{
	 width: 100%;
	 color: #fff;
	 background: #e29803;

}

.navbar-nav li{
	font-size:16px;
	font-weight: bold;
	padding: 0px 5px;
}

.navbar-nav li a{
	text-decoration: none;
	color: #fff !important;
	font-size: 18px;
	font-weight: bold;
}
.navbar-nav li a:hover{
	text-decoration: none;
	color: #2c2c2c;
}

.navbar-nav  li.active a{
	color: #2c2c2c !important;
}
.navbar-light .navbar-toggler{
	background-color: #fff !important;
}



 /**********************HOME SECTION CSS*************************** */
#home{
	background-color: #2c2c2c;
}
#home .flex-container {
  display: flex;
  position: relative;
  height: 516px;
}
#home .flex-container .home-first{
	width: 60%;
	padding: 10% 10%;
	color:#fff; 
}
#home .flex-container .home-second{
	width: 40%;
	background-color: #fcb72e;
}

#home .home-first h1{
 	margin-bottom: 20px;
 	font-size: 3.5em;
 	font-style: italic;
}

#home .home-first p{
  font-size: 18px;
  line-height: 18px;
  margin-top: 40px;
  font-style: italic;
  color: #ffffffa6;
}
#home .home-first span{
	background:#fcb72e;
	height: 2px;
	width: 100px;
	position: absolute;
	left: 10%;
}
#home .home-imag{
	position: absolute;
	left:45%;
	width: 550px;
}
.get-more{
	padding: 8px 50px;
    color: #fff !important;
}

@media only screen and (max-width: 768px) {
  .home-second{
    display: none;
  }
  #home .flex-container .home-first{
  	width: 100%;
  }
  .home-imag{
  	display: none;
  }

}


/**********************ABOUT SECTION CSS*************************** */
#about{
	padding: 5% 0px;
	background-color: #313131;
	height: auto;
}

.about-section{
	display: flex;
	justify-content: center;
}
.about-info{
	width: 50%;
	margin-left: 5%;
}
.div1 {
  width: 300px;
  height: 300px;
  border: 10px solid #fbb532;
  position:relative;
}
.div2 img {
  background-color: #fff;
  width: 300px;
  height: 300px;
  bottom: 20px;
  left: 20px;
  position:absolute;
  border: 7px solid #262626;
}
#about h1{
  margin-bottom: 20px;
  font-size: 3em;
  font-style: italic;
  color: #fff;
}

#about p{
  font-size: 18px;
  line-height: 18px;
  margin-top: 40px;
  font-style: italic;
  color: #ffffffa6;
  
}

#about span{
  background:#fcb72e;
  height: 3px;
  width: 100px;
  position: absolute;
}

@media only screen and (max-width: 768px){
	.about-section{
		flex-direction: column;
	}
	#about{
		height: auto;
	}
	.about-info{
		width: 100%;
		margin-left: 0;
		padding: 10% 0px;
	}
}

/**********************SERVICE SECTION CSS****************************/
#service{
	padding: 5% 0px;
	background-color: #2c2c2c;
	
}
#service h1{
	text-align: center;
	color: #fff;
	position: relative;
	padding-bottom: 10px;
}

#service h1::after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0%;
	right: 0;
	top: 0;
	border-bottom:3px solid #fcb72e;
	transform: translate(-50%);
	width: 12%;
}

#service .para {
	text-align: center;
	color: #fff;
	padding-bottom: 15px;
}
.service-section1, .service-section2, .service-section3, .service-section4, .service-section5, .service-section6{
	position: relative;
	margin: 10px;
}
.service-section1:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: .7;
	background-image: linear-gradient(to bottom right, #2193b0,#6dd5ed);	
}
.service-section2:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: .7;
	background-image: linear-gradient(to bottom right, #e7b148,#f9d648);	
}
.service-section3:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: .7;
	background-image: linear-gradient(to bottom right, #f86dc3,#fcb6e1);	
}
.service-section4:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: .7;
	background-image: linear-gradient(to bottom right, #ff1a1a,#ff8080);	
}
.service-section5:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: .7;
	background-image: linear-gradient(to bottom right, #4dff4d,#99ff99);	
}
.service-section6:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: .7;
	background-image: linear-gradient(to bottom right, #ff661a,#ffaa80);	
}
.section-info{
	position: absolute;
	top: 10%;
	left: 10%;
	color: #fff;
}
.section-info i{
	font-size:25px;
	border:1px solid #fff;
	padding: 5px; 
}
.section-info h5{
	font-weight: bold;
	padding: 10px 0px;
}
@media only screen and (max-width: 768px){
	#service h1::after{
		content: "";
		width: 40%;
	}
}
 /**********************GALLARY SECTION CSS*************************** */
 #gallary{
	background-color: #313131;
}
.gallary-section{
	width: 100%;
	padding: 60px 0;
	
}
.inner-width{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}
.gallary-section h1{
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.border{
	width: 180px;
	height: 4px;
	background-color: #fcb72e;
	margin: 20px auto;
	border: 1px solid #fcb72e !important;
}
.gallary-section .gallary{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center; 
}
.gallary-section .image{
	flex: 25%;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #fff;
    padding: 10px;
}
.gallary-section .image img{
	width: 100%;
	height: 100%;
	transition: 0.4s;

}

.gallary-section .image:hover img{
	transform: scale(1.4) rotate(15deg);
	
}

@media only screen and(max-width: 960px){
	.gallary-section .image{
		flex: 33.33%;
	}
}
@media only screen and (max-width: 768px){
	.gallary-section .image{
		flex: 50%;
	}
}
@media only screen and(max-width: 480px){
	.gallary-section .image{
		flex: 100%;
	}
}


/***********************TEAM SECTION CSS*****************************/
#team{
	padding: 5% 0px;
	background-color: #2c2c2c;
}
#team h1{
	text-align: center;
	padding-bottom: 15px;
	position: relative;

}
#team h1::after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0%;
	right: 0;
	top: 0;
	border-bottom:3px solid #fcb72e;
	transform: translate(-50%);
	width: 12%;
	margin-bottom: 7px;
}
#team .team-imag{
	position: relative;
	width: 100%;
	height: 300px;
}
 #team .text {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);  
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  text-align: center;
}
#team .team-icon i{
	border:1px solid #fff;
	border-radius: 50px;
	padding: 5px;
	margin: 0px 5px;
}
@media only screen and (max-width: 768px){
#team h1::after{
		content: "";
		width: 40%;
	}
}
/**********************CONTACT US SECTION CSS****************************/
#contact{
	padding: 5% 0px;
	background-color: #313131;
	text-align: center;
}
#contact h1{
	color: #fff;
	padding-bottom: 15px;
	position: relative;	
}
#contact h1::after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0%;
	right: 0;
	top: 0;
	border-bottom:3px solid #fcb72e;
	transform: translate(-50%);
	width: 12%;
}
.contact-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
}

.contact-mail, .contact-location, .contact-phone{
	color: #fff;
	margin: 0px 5%;
	text-align: center;
}
.contact-mail h5, .contact-location h5, .contact-phone h5{
	padding-top: 10px;
}
.contact-mail i, .contact-location i, .contact-phone i{
	color:#fbb532;
	border:1px solid #fff;
	border-radius: 50px;
	padding: 10px; 
}
.contact-mail i:hover, .contact-location i:hover, .contact-phone i:hover{
	background-color: #fbb532;
	color:#fff 	
}
.contact-mail p,.contact-location p, .contact-phone p{
	color: #cccccc;
}

.contact-section{
	display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info{
	width: 50%;
}
iframe{
	width: 600px !important;
}

form{
	 padding: 20px;
	 text-align: center;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #ffc451;
  color: white;
  padding: 10px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  border: 1px solid #ffc451;
  background-color: #fff;
  color:#ffc451 
}
form .btn{
 	margin: 5px;
 	color: #fbb532;
 	border-radius: 20px;
    padding: 8px 60px;
    background: white;
 }
form .btn:hover{
	color: #fff;
}


@media only screen and (max-width: 768px) {
	.contact-mail, .contact-location, .contact-phone{
		text-align: center;
		width: 100%;
	}
	.contact-icon{
		flex-direction: column;
		width: 200px;
		margin: 0 auto;
	}
	.contact-section{
		flex-direction: column;
	}
	.contact-info{
		width: 100%;
	}
	iframe{
		width: 100% !important;
	}
	#contact h1::after{
		content: "";
		width: 40%;
	}
}

/**********************FOOER SECTION CSS****************************/
 #footer{
	padding-top: 5%;
	background-color: #000000e2;
	color: #fff;
}
#footer ul li{
	padding: 5px;
}
#footer ul li a{
	color: #fff;
}
#footer p{
	padding: 5px;
}
#footer .foot-icon i{
	padding: 13px;
	border: 1px solid #fff;
	border-radius: 50px;
    width: 45px;
    text-align: center;
    color: #fbb532; 
    box-shadow: 5px 5px 5px #333333;
    transition: 0.4s;
}
#footer .foot-icon i:hover{
	background-color: #fbb532;
	color: #fff;
	border: 1px solid #fbb532;
}
#footer .foot-icon{
	padding: 10px;
}
#footer .foot{
	background-color: #000;
	text-align: center;
	padding: 10px;
}