body{
	font-family: "Times New Roman", Times, serif;
	margin: 0px;
	padding: 0px;
	font-size: 17px;
}
header{
	/*position: fixed;*/
    /*border: 1px solid gray;*/
   width: 100%;
   box-shadow: 2px 0px 5px gray;
   position: fixed;
   background-color: black;
   z-index: 1;
}
header .logo{
	color:white !important;
	font-size: 2em;
}
header ul{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	float: right;
}
header ul li{
	font-size: 17px;
	display: inline;
	font-weight: bold;
	padding: 10px;
}

header ul li a{
	text-decoration: none;
	color: #fff;
}
header ul li a:hover{
	text-decoration: none;
	color: #29a329;
}

header ul li.active a{
	color: #29a329;
}
.navbar-light .navbar-toggler{
	background-color: white;
}

@media only screen and (max-width: 768px) {
  header ul{
    float: left;
  }
}

/*HOME CSS*/
#home {
	background-color:black; 
}
#home .home-sect{
	position: relative;
}
#home .home-text{
	position: absolute;
	text-align: center;
	left: 10%;
	top:10%;
	color: #fff;
	padding: 5%;
}
#home h1{
	font-size: 3em;
}
#home p{
	font-size: 1.3em;
}
#home .get-to-btn{
	color: #fff;
	font-size: 1.3em;
	border-radius: 40px;
	padding: 5px 30px;
	border: 2px solid green; 
}

#home .overlay{
	background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    left: 0px;
    bottom: 0px;
}

#home .sub-text{
	padding: 20px;
}
#home .sect-one i{
	font-size:40px;
	color: #fff;
	padding: 10px 0px;
}

#home .sect-one a{
	font-size: 1.3em;
	text-decoration: none;
	color: #fff;
}
#home .sect-one p{
	color: #fff;
}


#home .sect-second{
	background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
}

#home .sect-second i{
	font-size:40px;
	color: #fff;
	padding: 10px 0px;
}

#home .sect-second a{
	font-size: 1.3em;
	text-decoration: none;
	color: #fff;
}
#home .sect-second p{
	color: #fff;
}



/*about us css*/
#about{
	padding: 5%;
	/*background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.9)), url(../img/photo-10.jpg) center top no-repeat fixed;*/
    background-size: cover;
    background-color: #f7f7f7 !important;
   /* padding: 40px 0 40px 0;*/
    position: relative;
   
}
#about h1{
	text-align: center;
	
}
#about .card{
	border-radius: 10px; 
}

#about .sub-text{
	text-align: center;
	padding: 20px;
	
}
#about .card-body a{
	font-size: 1.5em;
	padding: 10px 0px;
	color: green;
}
#about .card-header{
	position: relative;
	margin: 0px;
	padding: 0px;
}
#about .about-icon{
	position: absolute;
	bottom: 0%;
	justify-content: center;

}
#service{
	padding: 5%;
}
#service h1{
	text-align: center;
}
#service .sub-text{
	text-align: center;
	padding: 20px;
}
#service .ser-sect{
	padding: 20px 15px;
}
#service .title{
	margin-left: 5%;
	font-size: 1.3em;
}
#service .desc{
	margin-left: 16%;
}

#Call-to-action{
	padding: 5%;
	background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.9)), url("../img/cta-bg.jpg") center no-repeat fixed;
	position: relative;
	background-size: cover;
	text-align: center;
}

#Call-to-action h2{
	text-align: center;
	padding: 10px;
	color: #fff;
}
#Call-to-action p{
	text-align: center;
	padding: 10px;
	color: #fff;
}
#Call-to-action .call-to-btn{
	color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 7px 30px;
}
#Call-to-action .call-to-btn:hover{
	border: 0;
}

#our-skills{
	padding: 5%;
}
#our-skills h2{
	text-align: center;
	padding: 10px;
	
}
#our-skills p{
	text-align: center;
	padding: 20px;
	
}
#facts{
	padding: 5%;
	text-align: center;
	background:linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.9)), url("../img/photo-10.jpg") center no-repeat fixed;
	height: 701px;
}
#facts h2{
	text-align: center;
	padding: 10px;
	color: white;
	font-size: 2em;

}
#facts p{
	padding-bottom: 20px;
	color: white;
	font-size: 1.2em;	
}

@media only screen and (max-width: 768px) {
  #facts{
    display: none;
  }
}



#Our-Client{
	padding: 5%;
	text-align: center;
	background: #f7f7f7;
}
#Our-Client h2{
	text-align: center;
	padding-bottom: 5%;
	
}
#Our-Client .Our-Client-img{
	width: 100px;
    height: 100px;
    border-radius: 50%;
}

#team{
	padding: 5%;
	text-align: center;
}
#team h2{
	text-align: center;
	padding-bottom: 5%;
}
#team p{
	padding-bottom: 5%;
}

#team .overlay{
  position: absolute; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  top: 0%;
  height: 250px;
  padding-top: 30%;
}
#team #team-img:hover .overlay {
  opacity: 1;
}
#team #team-img{
	position: relative;
}
#team .overlay i{
	padding: 5px;
}
#team #team-img-2:hover .overlay {
  opacity: 1;
}
#team #team-img-2{
	position: relative;
}
#team #team-img-3:hover .overlay {
  opacity: 1;
}
#team #team-img-3{
	position: relative;
}
#team #team-img-4:hover .overlay {
  opacity: 1;
}
#team #team-img-4{
	position: relative;
}

@media only screen and (max-width: 768px) {
  #team #team-img{
    margin: 10px 0px;
  }
  #team #team-img-2{
    margin: 10px 0px;
  }
  #team #team-img-3{
    margin: 10px 0px;
  }
  #team #team-img-4{
    margin: 10px 0px;
  }
}

#contact{
	padding: 5%;
	text-align: center;
	background-color: #f1f1f1;
}
#contact h4{
	padding: 15px;
}
#contact p{
	padding: 15px;
}

#contact .contact-sect{
	/*border-right: 1px solid gray;*/
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
form{
	 box-shadow: 2px 0px 5px gray;
	 padding: 20px;
}

@media only screen and (max-width: 768px) {
  #contact .contact-sect{
    border-right:0;
    border-bottom: 1px solid gray;
    margin-bottom:  15px;
  }
}

#footer{
	padding-top: 5%;
	background-color: #000000e2;
	color: #fff;
}
#footer ul li{
	padding: 5px;
}
#footer ul li a{
	color: #fff;
}
#footer p{
	padding: 5px;
}
#footer .foot-icon i{
	padding: 13px;
	border: 1px solid #fff;
	border-radius: 10px; 
}
#footer .foot-icon{
	padding: 10px;
}
#footer .foot{
	background-color: #000;
	text-align: center;
	padding: 10px;
}