*{
	margin: 0px
	padding:0px;
	box-sizing: border-box;
}
#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000 url('img/loader.gif') no-repeat center;
  z-index: 999999;
}

h1{
	color: #fff; 
	font-size: 3em;
	letter-spacing: 2px;
}
p{
	font-size: 18px;
}
.navbar{
	 background-color: #1a1a1a !important;
}

#navbar {
  position: fixed;
  top: -72px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 1;
}

.navbar-nav li{
	font-size:16px;
	font-weight: bold;
	padding: 5px;
}

.navbar-nav li a{
	text-decoration: none;
	color: #fff !important;
	font-size: 20px;
	font-weight: bold;
}
.navbar-nav li a:hover{
	text-decoration: none;
	color: #9bdc28;
}

.navbar-nav  li.active a{
	color: #9bdc28 !important;
}
.navbar-light .navbar-toggler{
	background-color: #fff !important;
}

 /**********************HOME SECTION CSS*************************** */
 #home{
 	background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.5)), url(img/image_3.jpg) center top no-repeat fixed;
    width: 100%;
    height: 100vh;
    position: relative;	
    text-align: center;
 }
 .home-sect{
 	height: auto;
 	position:absolute;
 	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	width: 70%;
 }

 .home-sect p{
 	font-weight: 400;
 	font-size: 20px;
 }

 .home-sect .btn{
 	margin: 10px;
 	color: #fff;
 	border-radius: 20px;
    padding: 10px 30px;
    background:  #9bdc28;
 	border:0;
 }
 #home .home-sect h1{
 	padding-bottom: 15px;
 	background: linear-gradient(180deg, #fff 50%, #9bdc28 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 4rem;
 }

 .home-sect .btn:hover{
 	background:  #9bdc28;
 	border:0;
 }
@media only screen and (max-width: 768px) {
 	.home-sect{
 		width: 100%;
 	}
 }
 /**********************ABOUT US SECTION CSS*************************** */
 #about{
 	padding-top: 5%;
 	background-image: linear-gradient(to right,#262626 70% , #9bdc28 30%);
 	color: #fff;
 	width: 100%;
 }
#about h1{
	text-align: center;
	background-image: linear-gradient(to left, #262626 60% , #9bdc28 40%);
	position: absolute;
    top: 70%;
    left: 50%;
    width: 24.3rem;
}

#about .about-imag img{
	width: 100%;
	height: 540px;
}

#about .about-content h2{
    font-weight: 800;
    letter-spacing: 2px;
}
#about .about-content ul li{
	padding-bottom: 20px;
    font-size: 18px;
}
#about .about-content .get-to-btn{
	margin: 10px;
 	color: #f7f7f7;
 	border-radius: 20px;
    padding: 10px 30px;
    background:#9bdc28;
    border: 0; 
}
@media only screen and (max-width: 768px) {
 	#about{
 		background-image: linear-gradient(to right, #262626 70% , #262626 30%);
 	}
 	#about .about-content{
 		text-align: center;
 	}
 	#about h1{
 		display:none;
 	}
}


/**********************SERVICE SECTION CSS*************************** */
#service{
	width: 100%;
    height: auto;
    padding: 5% 0px;
    background:#333333;
    color: #fff;
    text-align: center;
}

#services h5{
	padding-top: 10px;
}

.textbox-1, .textbox-2, .textbox-3{
	padding: 20px;
	border-radius: 10px;
	margin: 10px;
  	-webkit-transition: .3s ease;
  	transition: .3s ease;
}
.textbox-1 i, .textbox-2 i, .textbox-3 i{
	color: #9bdc28;
	padding: 15px;
	border-radius: 50%;
	background: #404040;
}

.textbox-1 .btn, .textbox-2 .btn, .textbox-3 .btn{
	color: #fff;
    border-top: 1px solid #fff;
}

.textbox-1:hover, .textbox-2:hover, .textbox-3:hover{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  transform: translateY(-20px);
}

/**********************OUR SKILLS SECTION CSS****************************/
#our-skills{
	padding: 5% 0px;
	text-align: center;
	background: #262626;
}
#our-skills h1{
	color: #8c8c8c !important;
	padding-bottom: 20px;
}
#our-skills p{
	padding: 20px;
	color: #666666;
}
.progress{
	height: 20px;
}

/**********************TEAM SECTION CSS****************************/
#team{
  	padding: 5% 0px;
  	text-align: center;
  	position: relative;
  	min-height: 100vh;
  	background: #333333;
 }
 #team h1{
 	color: #8c8c8c;
 	font-weight: bold;
 	padding-bottom: 20px;
 }
#team .team-section{
	display: flex;
	justify-content: center;
	align-items: center;
}
 #team .card{
 	position: relative;
 	width: 320px;
 	height: 450px;
 	background: #232323;
 	border-radius: 20px;
 	overflow: hidden;
 	border: 0;
 	margin: 20px 0px;
 }
 #team .card:before{
 	content: '';
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	background: #9bdc28;
 	clip-path: circle(150px at 80% 20%);
 	transition: 0.5s ease-in-out;
 }
 #team .card:hover:before{
 	clip-path: circle(300px at 80% -20%);
 }

 #team .card .imgBx{
 	position: absolute;
 	top: 50%;
 	transform: translateY(-50%);
 	z-index: 10000;
 	width: 100%;
 	height: 220px;
 	transition: 0.5s
 }

 #team .card:hover .imgBx{
 	top: 5%;
 	transform: translateY(5%);
 }

#team .card .imgBx img{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 250px;
}

#team .card .contentBx{
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 100px;
	text-align: center;
	transition: 1s;
	z-index: 10;
}
#team .card:hover .contentBx{
	height: 200px;
}
#team .card .contentBx h3{
	position: relative;
	font-weight: 600;
	letter-spacing: 1px;
	color: #fff;
}
#team .card .contentBx p{
	color: #fff;
}
#team .card .contentBx .icons{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 20px;
	transition: 0.5s;
	opacity: 0;
}
#team .card:hover .contentBx .icons{
	opacity: 1;
	visibility: visible;
	transition-delay: 0.5s;
}

#team .card .contentBx .icons h3{
	color: #fff;
	font-weight: 300px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 10px
}
#team .card .contentBx .icons i{
    width: 26px; 
	height: 26px;
	text-align:center;
	line-height:26px;
	font-size: 14px;
	display: inline-block;
	color: #111;
	background: #fff;
	margin: 0 5px;
	transition: 0.5s;
	color: #111;
	border-radius: 4px;
	cursor: pointer;
}
#team .card .contentBx .icons i:hover{
	background: #9bdc28;
	color: #fff;
}

#team .card .contentBx a{
	display: inline-block;
	padding: 8px 30px;
	background: #fff;
	border-radius: 25px;
	text-decoration: none;
	font-weight: 600;
	color: #111;
	opacity: 0;
	transform: translateY(50px);
	transition: 0.5s
}
#team .card:hover .contentBx a{
	opacity: 1;
	transform: translateY(0px);
}
@media only screen and (max-width: 768px) {
 	#team .team-section{
 		flex-direction: column;
 	}
 }
/**********************CONTACT SECTION CSS****************************/
#contact{
	padding: 5% 0px;
	text-align: center;
	background: #262626;
}
#contact h1{
	color: #8c8c8c;
	padding-bottom: 20px;
}
#contact p{
	padding: 15px;
	color: #666666;
}

.flex-container{
	display: flex;
	position: relative;
	height: 450px;
	justify-content: center;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.con-sect-2{
	clip-path: polygon(70% 0, 100% 0%, 100% 100%, 0 100%);
	background-color: #9bdc28;
	width: 100%;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ffc451;
  color: white;
  padding: 10px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  border: 1px solid #ffc451;
  background-color: #fff;
  color:#ffc451 
}
form{
	 padding: 20px;
	 text-align: center;
	 position: absolute;
}

form .btn{
 	margin: 5px;
 	color: #9bdc28;
 	border-radius: 20px;
    padding: 8px 60px;
    background: white;
    border:0;
 }
form .btn:hover{
	background:#fff;
	color: #9bdc28; 
}

/**********************FOOER SECTION CSS****************************/
 #footer{
	padding-top: 5%;
	background-color: #000000e2;
	color: #fff;
}
#footer ul li{
	padding: 5px;
}
#footer ul li a{
	color: #fff;
}
#footer p{
	padding: 5px;
}

#footer .foot-icon{
	padding-top: 10px;
}
#footer .foot-icon i{
	padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
   margin-left: 7px; 
}

#footer .foot-icon i:hover{
	background-color: #9bdc28;
}

#footer .foot{
	background-color: #000;
	text-align: center;
	padding: 10px;
}