body{
	margin: 0px
	padding:0px;
	font-family: "Times New Roman", Times, serif;
	box-sizing: border-box;
}

h1{
	font-family: 'Roboto', sans-serif; 
	font-size: 3em;
}

p{
	font-size: 18px;
}
.header{
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/cake2.jpg) center top no-repeat fixed;
	background-size: cover;
    width: 100%;
    height: 600px;
}
.navbar{
	 width: 100%;
	 color: #fff;
}

.navbar-nav li{
	font-size:16px;
	font-weight: bold;
	padding: 0px 5px;
}

.navbar-nav li a{
	text-decoration: none;
	color: #fff !important;
	font-size: 18px;
	font-weight: bold;
}
.navbar-nav li a:hover{
	text-decoration: none;
	color: #2c2c2c;
}

.navbar-nav  li.active a{
	color: #2c2c2c !important;
}
.navbar-light .navbar-toggler{
	background-color: #fff !important;
}

/********************************PRODUCTS SECTION CSS******************************/
#product{
	padding: 5% 0px;
}
.pro-info h3{
	font-style: italic;
    font-weight: bold;
    padding-bottom: 10px;
 }
