body{
	margin: 0px
	padding:0px;
}
a{
	color: #fff !important;
}

header{
	 background-color: #1a1a1a !important;
}
header ul li{
	font-size:16px;
	font-weight: bold;
	padding: 5px;
}

header ul li a{
	text-decoration: none;
	color: #fff !important;
}
header ul li a:hover{
	text-decoration: none;
	color: #ffc451;
}

header ul li.active a{
	color: #ffc451 !important;
}
.navbar-light .navbar-toggler{
	background-color: #fff !important;
}

/*********************HOME SECTION CSS***************************/
#home{
	background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.6)), url(img/photo-17.jpg) center top no-repeat fixed;
	background-size: cover;
    background-color: #f7f7f7 !important;
    position: relative;
    width: 100%;
    height: 600px;
    text-align: center;
    color: #fff;
 
}
#home .text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

 #home h1{
	font-size: 3em;
	padding-bottom: 15px;
}
#home p{
	color: #cccccc;
}
#home .btn{
	color: #fff;
    padding: 10px 50px;
    font-size: 1.2em;
    border: 1px solid #fff;
}

@media only screen and (max-width: 768px) {
  #call-to-action{
  	height: auto;
  }
}

/*********************ABOUT US SECTION CSS***************************/
#about{
	padding: 5% 0px;
}
#about h1{
	font-weight: bold;
	color: #fcb72e;
	font-size: 2.5em;
}
#about .about-text{
	width: 600px;
	color: #8c8c8c;
    margin-top: 20px;
}
#about .about-icons{
	padding-top: 5%;
}
#about .about-icons i{
	font-size:24px;
	color:#ffc451; 
}
#about .about-imag img{
	width: 100%;
	height: 400px;
}
@media only screen and (max-width: 768px) {
  #about .about-text{
  	width: 300px;
  }
}
/*********************SERVICES SECTION CSS***************************/
#services{
	padding: 5% 0px;
}
#services h1{
	color: #fcb72e;
	font-size: 3em;
}
#services .ser-info{
	color: #8c8c8c;
	margin-top: 20px;
}

 #services .flex-container {
  display: flex;
  background-color: #f8f8f8;
  box-shadow: 10px 10px 20px #cccccc;
  margin-top: 5%;
}
.service-icon, .service-icon-2, .service-icon-3, .service-icon-4{
	background-color: #4790b8;
	width: 20%;
	clip-path: polygon(0% 0,100% 0, 70% 100%,0 100%);
	box-shadow: 15px 15px 20px #404040;
	/* background-image: linear-gradient(to bottom, #306780,#1c3b4a);*/
	text-align: center;
}
.service-icon-2{
	background-color: #d7e41b;
}
.service-icon-3{
	background-color: #edd55e;
}
.service-icon-4{
	background-color: #ca361c;
}
.service-icon i{
	color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px;
    font-size: 25px;
    background-color: #2c2c2c;
    margin: 20px auto;
}
.service-icon-2 i{
	color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px;
    font-size: 25px;
    background-color: #2c2c2c;
    margin: 20px auto;
}
.service-icon-3 i{
	color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px;
    font-size: 25px;
    background-color: #2c2c2c;
    margin: 20px auto;
}
.service-icon-4 i{
	color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px;
    font-size: 25px;
    background-color: #2c2c2c;
    margin: 20px auto;
}
.service-icon p{
	color: #fff;
}
.service-icon-2 p{
	color: #fff;
}
.service-icon-3 p{
	color: #fff;
}
.service-icon-4 p{
	color: #fff;
}

#services .service-text, .service-text-2, .service-text-3, .service-text-4{
	background-color: #f8f8f8;
	width: 80%;
	padding: 2%;
}

#services .service-text h3{
	color: #234a5c;
}
#services .service-text-2 h3{
	color:  #96a013;
}
#services .service-text-3 h3{
	color: #cfb017;
}
#services .service-text-4 h3{
	color: #b43018;
}

#services .service-text p{
	margin-top: 3%;
	color: #8c8c8c;
}
#services .service-text-2 p{
	margin-top: 3%;
	color: #8c8c8c;
}
#services .service-text-3 p{
	margin-top: 3%;
	color: #8c8c8c;
}
#services .service-text-4 p{
	margin-top: 3%;
	color: #8c8c8c;
}
#services .service-text span{
  background:#234a5c;
  height: 2px;
  width: 70px;
  position: absolute;
}

#services .service-text-2 span{
  background:#96a013;
  height: 2px;
  width: 70px;
  position: absolute;
}
#services .service-text-3 span{
  background:#cfb017;
  height: 2px;
  width: 70px;
  position: absolute;
}
#services .service-text-4 span{
  background:#b43018;
  height: 2px;
  width: 70px;
  position: absolute;
}
@media only screen and (max-width: 768px) {
  
}

/*********************call-to-action SECTION CSS***************************/
#call-to-action{
	background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.6)), url(img/cta-bg.jpg) center top no-repeat fixed;
	background-size: cover;
    background-color: #f7f7f7 !important;
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    color: #fff;
    padding: 5%;
}
#call-to-action h2{
	font-size: 2.5em;
	font-weight: 700;
}
#call-to-action p{
	font-size: 1.1em;
}
#call-to-action .call-to-action-butt{
	color: #fff;
    padding: 10px 50px;
    font-size: 1.2em;
    border: 1px solid #fff;
}
@media only screen and (max-width: 768px) {
  #call-to-action{
  	height: auto;
  }
}

/*********************TEAM SECTION CSS***************************/
#team{
	padding: 5% 0px;
}
#team h1{
	color: #fcb72e;
	font-size: 2.5em;
}

#team .card{
	box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1);
	position: relative;	
}
#team .card .card-body{
	padding: 4px 12px;
}
#team .port-icons i{
	font-size: 20px;
	color:#ffc451;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 8px;
	margin: 3px;
	opacity:0;
	transition: .5s ease;
	text-align: center;  
}
#team .port-icons{
	position: absolute;
	bottom: 35%;
    left: 35px;
    opacity:0;
    transition: .5s ease;
}
#team .card:hover .port-icons i{
	opacity: 1;
}
#team .card:hover .port-icons{
	opacity: 1;
}
@media only screen and (max-width: 768px) {
  #team .port-icons{
  	left: 20%;
  }
}

/**********************Carousel SECTION CSS****************************/ 
#carousel{
	padding: 5%;
	background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.6)), url(img/photo-11.jpg) center top no-repeat fixed;
	background-size: cover;
    background-color: #f7f7f7 !important;
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    color: #fff;
}
#carousel .slide-imag{
	border-radius: 50px;
	border: 8px solid #392d32;
}
#carousel .carousel-item p{
	color: #eee;
	padding-top: 10px;
	font-size: 1.1em;
}
@media only screen and (max-width: 768px) {
  #carousel{
  	height: auto;
  }
}


/**********************CONTACT US SECTION CSS****************************/ 
#contact{
	padding: 5% 0px;
}
#contact h1{
	color: #fcb72e;
	font-size: 2.5em;
}

#contact .cont-icon{
	text-align: center;
	padding-top: 5%;
}

#contact .cont-icon i{
	font-size: 25px;
	padding: 10px;
	color:#fcb72e;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ffc451;
  color: white;
  padding: 10px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  border: 1px solid #ffc451;
  background-color: #fff;
  color:#ffc451 
}
form{
	 padding: 20px;
	 text-align: center;
}
/****************************TOP BUTTON CSS**********************/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fcb72e;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

/**********************FOOTER SECTION CSS****************************/ 
#footer{
	padding-top: 5%;
	background-color: #000000e2;
	color: #fff;
}
#footer ul li{
	padding: 5px;
}
#footer ul li a{
	color: #fff;
}
#footer p{
	padding: 5px;
}
#footer .foot-icon i{
	/*padding: 13px;*/
	border: 1px solid #fff;
	border-radius: 10px; 
}

#footer .foot-icon i:hover{
	border: 1px solid #ffc451;
	background-color:#ffc451; 
	color:#fff;
}

#footer .fa-twitter{
	padding: 10px;
}
#footer .fa-facebook{
	padding: 10px 13px;
}
#footer .fa-google-plus{
	padding: 10px 7px;
}
#footer .fa-linkedin{
	padding: 10px 10px;
}
#footer .foot-icon{
	padding: 10px;
}
#footer .foot{
	background-color: #000;
	text-align: center;
	padding: 10px;
}